/* setting max height of order history incase
user has many orders */
.order-history {
    max-height: 416px;
    overflow-y: auto;   /* scroll bar */
}

/* styling profile form text color */
#profile-update-form .form-control {
    color: #000;
}

/* styling profile form placeholders */
#profile-update-form input::placeholder {
    color: #aab7c4;
}

#id-default-country,
#id-default-country option:not(:first-child) {
    color: #000;
}

#id-default-country option:first-child {
    color: #aab7c4;
}